<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @comment.page %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @comment.creator %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Resolved at:</strong>
  <%= @comment.resolved_at %>
</p>

<p>
  <strong>Resolved by:</strong>
  <%= @comment.resolved_by %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
