<%= render 'pages/header', page: @page %>

<main class="container">
  <% if @child_pages.any? %>
  <nav class="stetson-children">
    <ul>
      <% @child_pages.each do |page| %>
      <li><%= link_to page.title, page %></li>
      <% end %>
      <!-- <li><em><%= link_to "Create a new page under #{@page.title}", new_page_path %></em></li> -->
    </ul>
  </nav>
  <% end %>
  <article class="stetson">
    <%= wiki_linkify(@markdown.render(@page.body)) %>

    <div class="provenance">
      <% if @page.updater %>
        Last updated <%= local_time_ago(@page.updated_at) %>
        by <%= @page.updater.email %> &middot;
        <%= link_to pluralize(@page.versions.count, 'version'), page_versions_path(@page) %><br />
      <% end %>
      Created <%= local_time_ago(@page.created_at) %>  
      <% if @page.creator %>by <%= @page.creator.email %><% end %>
    </div>
  </article>
  <aside class="comments">
    <div class="comment-list"><%= render @comments %></div>
    <%= render 'comments/form', comment: Comment.new(page: @page) %>
  </aside>
</main>